body {
    background-image: url("ww.png");
    font-family: arial;
}
p {
    text-align: center;
}
h3{
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: black;
    background-color: papayawhip;
}
h5 {
    font-family: Verdana;
    font-weight: bold;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
    color:white;
}
ul{
    list-style-type: none;
    position: fixed;
    margin: -10px;
}
li {
    display: inline;
    border: 2px solid wheat;
    font-family: Futura, Tahoma, sans-serif;
    color: black;
    padding: 5px;
    background-color: white;
}
h4 {
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color:wheat;
}
h2 {
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: black;
    background-color: ghostwhite;
}
.leftcolumn {   
  float: left;
  width: 75%;
  background-color: white;
}
#footer {
  padding: 20px;
  position: relative;
  top: -10px;
  text-align: center;
  background: blue;
  margin-top: 20px;
}
/* Header */
.header {
  padding: 20px;
  text-align: center;
  background: blue;
}

.header h1 {
  font-size: 50px;
  color: orange;
}
h1 {
  text-align: center;
  color: black;
}

/* top navigation */
.topnav {
  overflow: hidden;
  background-color: whitesmoke;
}
/* Responsive layout  */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}


